{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Create New Entry</h2>
    <form method="post" class="row g-3">
        {% csrf_token %}

        <div class="row">
            <div class="col-md-6">
                <label class="form-label">Date</label>
                {{ form.date }}
            </div>
        </div>

        <div class="col-md-6">
            <label class="form-label">Client Name</label>
            {{ form.client_name }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Executive</label>
            {{ form.executive }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Party Name</label>
            {{ form.party_name }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Location</label>
            {{ form.location }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Mobile No</label>
            {{ form.mobile_no }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Type</label>
            {{ form.type }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Model</label>
            {{ form.model }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Serial No</label>
            {{ form.sr_no }}
        </div>

        <div class="col-md-12">
            <label class="form-label">Requirement</label>
            {{ form.requirement }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Quote Amount</label>
            {{ form.quote_amt }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Cost</label>
            {{ form.cost }}
        </div>

        <div class="col-md-6">
            <label class="form-label">Status</label>
            {{ form.status }}
        </div>

        <div class="col-md-6" name="confirmation_date" >
            <label class="form-label">Confirmation Date</label>
            {{ form.confirmation_date }}
        </div>

        <div class="col-12 text-center mt-3">
            <button type="submit" class="btn btn-primary w-50">Submit</button>
        </div>
    </form>
</div>
{% endblock %}
